body {
    font-family: sans-serif;
    padding: 20px;
}

#contenedorPrecio {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: blue;
}

#infoExtras {
    margin-top: 20px;
    /* Necesario tener un estilo de borde inicial para poder animar su ancho */
    border: 1px solid black; 
    padding: 10px;
    width: 300px;
    /* Ocultamos o dejamos vacío inicialmente */
    min-height: 50px; 
}