*{
    margin: 0;

}

body{
    background-color: antiquewhite;

}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

